* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #333;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 50px;
    line-height: 200px;
    /* background-color: gold; */
    border: 3px solid black;
}

section {
    display: flex;
}

.one {
    background-color: gold;
    /* display: flex;
    flex-wrap: wrap; */
}

.two {
    background-color: green;
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; */
}

.three {
    background-color: blue;
    /* display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap; */

}

.four {
    background-color:red;
}